* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    outline: none;
}
a {
    text-decoration: none;
}
li {
    list-style: none;
}
input, textarea, button {
    border: none;
    background: none;
    font-family: inherit;
}

button {
    transition: all .3s ease;
    cursor: pointer;
    user-select: none;

    &:active {
        transform: scale(0.95);
    }
}

body {
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    background-color: var(--blue_2);
    color: #fff;
    font-weight: 400;
    font-family: 'Inter', sans-serif;
    font-size: 13px;
    line-height: 130%;

}
