* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    outline: none;
}
a {
    text-decoration: none;
}
li {
    list-style: none;
}
input, textarea, button {
    border: none;
    background: none;
    font-family: inherit;
}

button {
    transition: all .3s ease;
    cursor: pointer;
    user-select: none;

    &:active {
        transform: scale(0.95);
    }
}

body {
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    background-color: var(--blue_2);
    color: #fff;
    font-weight: 400;
    font-family: 'Inter', sans-serif;
    font-size: 13px;
    line-height: 130%;

}


.skeleton {
    background: rgba(217, 217, 217, 0.05);
    opacity: 1;
    animation: skeleton 1.4s linear infinite;
}

@keyframes skeleton {
    0% {
        opacity: 1;
    }
    50% {
        opacity: .5;
    }
    100% {
        opacity: 1;
    }
}

.ant-picker {
    border: 1px solid rgba(255, 255, 255, 0.11);
    background: #252548;
    color: #fff;
    .ant-picker-clear {
        background-color: unset;
        color: #fff;

        &:hover {
            color: #fff;
        }
    }
    .ant-picker-input {
        input {
            color: #fff; 
            text-align: center;

            &::placeholder {
                color: rgba(#fff, .5);
            }
        }
        
    }
}
.date-popup {
    
}
.ant-picker-panel-container {
    background-color: #252548 !important;
    
    .ant-picker-header {
        color: #fff;

        button {
            color: #fff;
        }
    }
    th {
        color: #7D6AF0 !important;
    }
    .ant-picker-cell {
        color: #fff;
    }
}