:root {
    --blue_1: #131334;
    --blue_2: #1E1E42;
    --blue_3: #454563;
    --blue_4: #424260;
    --blue_5: #3F3A7B;
    --blue_6: #7D6AF0;

    --green_1: #3CA974;
    --green_2: #55DEA9;
    --green_3: #135E39;

    --gray_1: #9696A7;

    --red_1: #EB5858;
    --red_2: #8C1515;

}