.wrapper.wrapper_chat {
    justify-content: flex-end;
}

.wrapper {
    // padding: 15px;
    border-radius: 8px;
    background-color:#252548;
    border: 1px solid var(--blue_3);

    height: 100%;
    display: flex;
    flex-direction: column;
    overflow: visible;
    justify-content: flex-end;
    // position: relative;
    


    .users {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        z-index: 2;
        padding: 15px;
    }

    .users_pl {
        opacity: 0;
        visibility: hidden;
        pointer-events: none;
        touch-action: none;
        z-index: -1;
        flex: 0 0 auto;
    }

    .chat {
        flex: 1 0 auto;
        overflow-y: auto;
        display: flex;
        flex-direction: column-reverse;
        overflow-y: auto;
        max-height: 100%;
        padding: 20px;
        padding-bottom: 65px;

        

        .load {
            display: flex;align-items: center;
            justify-content: center;
            padding: 20px;
            width: 100%;
            opacity: 0;
        }
        
        
    }

    .mail {
        flex: 1 0 auto;
        overflow-y: auto;
        max-height: 100%;
        padding-bottom: 65px;
        overflow-x: hidden;

        .load {
            display: flex;align-items: center;
            justify-content: center;
            padding: 20px;
            width: 100%;
            opacity: 0;
        }
    }
}