.wrapper {
    display: flex;
    align-items: flex-start;
    padding: 15px;
    border-bottom: 1px solid #454563;
    overflow: hidden;

    .avatar {
        margin-right: 8px;
    }

    .body {
        width: 100%;
        overflow: hidden;

        .top {
            display: flex;
            align-items: center;
            justify-content: space-between;
            margin-bottom: 5px;

            .ex {
                .tm {
                    white-space: nowrap;
                    color: rgba(255, 255, 255, 0.50);
                    font-size: 10px;
                    margin-left: 10px;
                }
            }
        }
        .main {
            .text {
                margin-bottom: 5px;
                overflow: hidden;
                // white-space: pre-wrap;
                
            }

            .media {
                display: flex;

                .item {
                    margin: 5px;
                    width: 100px;
                    height: 100px;

                    img {
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                        display: flex;
                    }
                }
            }
        }
        .action {
            margin-top: 10px;
            .open {
                color: #7D6AF0;
                text-transform: uppercase;
                font-weight: 600;
                font-size: 13px;
            }
        }
    }
}