.wrapper {
    padding: 15px 20px;
    height: 88px;
    background: rgba(217, 217, 217, 0.05);
    border-radius: 8px;
    display: flex;
    transition: all .3s ease;
    

    .avatar {

    }

    .body {
        width: 100%;
        padding-left: 10px;
        overflow: hidden;

        .top {
            margin-bottom: 5px;   
            .id {
                color: rgba(255, 255, 255, 0.5);
                text-align: right;
            }
        }

        .main {
            display: flex;
            align-items: flex-start;

            .type {
                margin-right: 10px;
                color: #7D6AF0;
                font-size: 25px;
                line-height: 25px;
                display: flex;
                align-items: center;
                justify-content: center;
            }
        }
    }
}

.wrapper.active {
    background: rgba(125, 106, 240, 0.3);
}