.wrapper {
    background: rgba(217, 217, 217, 0.05);
    border-radius: 8px;
    padding: 15px 20px;
    display: flex;
    // align-items: center;
    justify-content: space-between;
    transition: all .3s ease;
    cursor: pointer;

    &:hover {
        background: rgba(125, 106, 240, 0.30);
    }

    .part {
        display: flex;
        width: 50%;
        // flex: 0 0 50%;
        overflow: hidden;

        &:last-child {
            .body {

                text-align: right;
            }
        }

        .body {
            padding: 0 10px;
            width: 100%;
            overflow: hidden;

            .x {
                font-size: 16px;
                font-weight: 700;
            }
            .y {
                color: rgba(255, 255, 255, 0.5);
            }
        }
    }

    .badge {
        display: flex;
        align-items: center;
        justify-content: center;
        
        .new {
            font-weight: 700;
            text-transform: uppercase;
            border-radius: 0 8px;
            background-color: var(--red_1);
            padding: 4px 12px;
        }
    }
}

.wrapper.active {
    background: rgba(125, 106, 240, 0.30);
}