.wrapper {
    position: relative;
    flex: 0 0 auto;
    .avatar {
        border-radius: 8px;
        overflow: hidden;
        
        background-image: url('../../assets/img/avatar.png');
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        width: 100%;
        height: 100%;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            display: flex;
        }
    }

    &:after {
        position: absolute;
        content: '';
        width: 12px;
        height: 12px;
        bottom: -6px;
        right: -6px;
        border-radius: 100%;
        background-color: var(--green_1);
        transform: scale(0);
        transition: all .3s ease;
        border: 1px solid #2E2E4F;
        z-index: 2;
    }
}

.wrapper.round {
    .avatar {
        border-radius: 100%;
    }
}

.wrapper.new {
    
    &:after {
        transform: scale(1);
    }
}

