.wrapper {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;

    .new {
        position: absolute;
        top: 0;
        right: 2px;
        border: 2px solid #131334;
        background-color: var(--green_2);
        border-radius: 100%;
        display: block;
        z-index: 2;
        width: 10px; 
        height: 10px;
    }

    .main {
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: inherit;
        line-height: 100%;
        color: #fff;
    }
}